:root{
  --dark-blue-100: #6094d4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;

  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;

  --drop-sahdow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
  ;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--light-blue-100);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  margin-top: 40px;
  margin-left: 40px;
}

.nav > h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--dark-blue-300);
}
.header > nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 620px;
  text-decoration: none;
}
.nav > a {
  text-decoration: none;
  color: var(--dark-blue-100);
  font-size: 24px;
  font-weight: 600;
}

.nav > a:hover {
  transform: scale(1.1);
  color: var(--dark-blue-500);
}
.main-content {
  width: 805px;
  height: 480px;
  margin-top: 40px;
  margin-left: 115px;
  overflow: hidden;

  border-radius: 32px;
  box-shadow: var(--drop-sahdow);
}
.main-content #txt_A {
  width: 100%;
  height: 1005px;
  resize: none;
  outline: none;
  border: none;
  padding-top: 42px;
  padding-left: 52px;
  padding-right: 10px;
  color: var(--dark-blue-300);
  font-size: 32px;
  font-weight: 600;
}



.main-content-buttons {
  margin-top: 30px;
  margin-left: 250px;
  width: fit-content;
}

.main-content-buttons .btn-title {
  display: flex;
  font-size: 12px;
  color: var(--gray-400);
  margin-bottom: 15px;
}
.main-content-buttons .btn-title > span {
  align-items: baseline;
  margin-right: 5px;
}
.main-content-buttons .btn,
.aside .btn,
.botton-side .btn {
  width: 330px;
  height: 64px;
  border-radius: 24px;
  box-shadow: var(--drop-sahdow);
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 24px;
  font-weight: 600;
  margin-right: 2px;
  
}

.btn {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-content-buttons .btn--primary,
.aside .btn--primary,
.botton-side .btn--primary {
  background-color: var(--dark-blue-300);
  color: var(--light-blue-100);
  border: 1px solid transparent;

}

.main-content-buttons .btn--secondary {
  background-color: var(--light-blue-400);
  color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
}

.aside {
  float: right;
  height: 645px;
  width: 400px;
  margin-right: 40px;
  border-radius: 32px;
  box-shadow: var(--drop-sahdow);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

} 

.result {
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 32px;
  color: var(--dark-blue-300);
  resize: none;
  outline: none;
  border: none;
}

.result .aside-txt{
  color: var(--gray-400);
  font-size: 20px;
  ;
}

.container-result::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  background-color: var(--dark-blue-500);
}
.container-result::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 10px;
  background-color: var(--dark-blue-200);
}

.botton-side {
  display: none;
}

@media screen and (max-width: 1385px) {
  .main-content{
    width: 750px;
  }

  .main-content-buttons .btn {
    width: 250px;
  }

  .aside {
    width: 300px;
  }
  .aside .btn {
    width: 250px;
  }
}

@media screen and (max-width: 1260px) {
  .main-content{
    width: 650px;
  }

  .main-content-buttons .btn {
    width: 225px;
  }

  .aside {
    width: 250px;
  }
  .aside .btn {
    width: 200px;
  }
}

@media screen and (max-width: 1210px) {
  .main-content{
    width: 500px;
  }

  .main-content-buttons{
    margin-left: 150px;
  }
  .main-content-buttons .btn {
    width: 180px;
    font-size: medium;
  }
  .aside .btn {
    width: 150px;
  }
}
  
@media screen and (max-width: 910px) { 
  
  .nav a {
    display: none;
  }
  
  .aside {
    display: none;
  }
  .main-content{
    width: clamp(500px,90vw ,700px);
    margin: 0 auto;
  }
  .main-content-buttons .btn {
    width: 250px;
    font-size: large;
  }

  .botton-side{
    height: 200px;
    width: clamp(200px,90vw ,700px);
    margin: 0 auto;
    border-radius: 32px;
    box-shadow: var(--drop-sahdow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: large;
  }

  .botton-side .btn{
    width: 150px;
  }

}